<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>no</key>
			<string>1</string>
			<key>name</key>
			<string>Alex</string>
			<key>address</key>
			<string>8/17 Wales Cos, New Wales, Australia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
		<dict>
			<key>no</key>
			<string>2</string>
			<key>name</key>
			<string>Tom</string>
			<key>address</key>
			<string>9/12 Sav, Moscow, Russia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>no</key>
			<string>1</string>
			<key>name</key>
			<string>John</string>
			<key>address</key>
			<string>19/8 Jalan Dutamas, Kuala Lumpur, Malaysia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
		<dict>
			<key>no</key>
			<string>2</string>
			<key>name</key>
			<string>Tim</string>
			<key>address</key>
			<string>8/12 Wales Cos, New Wales, Australia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
		<dict>
			<key>no</key>
			<string>3</string>
			<key>name</key>
			<string>Jessica</string>
			<key>address</key>
			<string>17/8 Wales Cos, New Wales, Australia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
		<dict>
			<key>no</key>
			<string>4</string>
			<key>name</key>
			<string>Nick</string>
			<key>address</key>
			<string>15/3 Wales Cos, New Wales, Australia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>no</key>
			<string>1</string>
			<key>name</key>
			<string>Tim</string>
			<key>address</key>
			<string>3/17 Wales Cos, New Wales, Australia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
		<dict>
			<key>no</key>
			<string>2</string>
			<key>name</key>
			<string>Nicole</string>
			<key>address</key>
			<string>8/17 Wales Cos, New Wales, Australia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
		<dict>
			<key>no</key>
			<string>3</string>
			<key>name</key>
			<string>Andika</string>
			<key>address</key>
			<string>8/17 Wales Cos, New Wales, Australia</string>
			<key>phone</key>
			<string>+60 234 2423 2342</string>
		</dict>
	</array>
</array>
</plist>
